.title {
    color: #1a1818;
    font-size: 14px;
    line-height: 20px;
    font-weight: 200;
    letter-spacing: 3.5px;
}
.simpleText {
    font-size: 12px;
    line-height: 20px;
    font-weight:  50;
    letter-spacing: 0.5px;
    color: black;
    text-decoration: none;
}
.simpleLink:hover {
  text-decoration: underline;
}
.simpleLink:active {
    text-decoration: underline;
  }
.smallText {

}
.home {
    position: absolute;
    width: 50%;
    top: 31%;
    left: 25%;
}

.contact {
    width: 100%;
    position: relative;
    top: 200px;
    display: flex;
    /* flex-direction: column; */
    height: 100vh;
}
.contactTitle {
    width: 150px;
    margin-left: 200px;
    margin-top: 100px;
    padding-bottom: 10px;
    border-bottom: 4px solid black;
}
.rightside {
    position: absolute;
    top: 100px;
    right: 200px;
    width: 50%;
    right: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.imgLink {
    background-color: black;
    width: 70%;
    height: 45.4%;
}
.mapImg {
    opacity: 0.7;
    width: 100%;
}
