.headerWrap {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 200px;
}
.bookImg {
    width:100px;
    margin-left: 200px;
    margin-top: 40px;
}
.menuImg {
    position: absolute;
    top: 65px;
    right: 200px;
    width: 60px;
}
.reservation {
    position: absolute;
    color: white;
    border: 1px solid white;
    top: 75px;
    right: 300px;
    width: 180px;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: "Brandon-font",Sans-serif;
    letter-spacing: 3.5px;
    font-weight: lighter;
}
.reservation:hover {
    background-color: white;
    color: black;
}
.reservation:active {
    background-color: white;
    color: black;
}
.menuList {
    position: fixed;
    width: 100%;
    background-color: black;
    height: 100vh;
    z-index: 2;
    top: 0px;
    transition-timing-function: ease-in;
}
.menuList:hover {
    width: 100%;
}


.hidden {
    display: none;
    width: 1px;
    transition: width 2s;
}
.caffeeMenu {
    width: 578px;
    height: 789px;
    object-fit: cover;
    margin-left: 145px;
    position: absolute;
}
.list {
   width: 550px;
   height: 800px;
   position: absolute;
   right: 0px;
   display: flex;
   flex-direction: column;
   margin-top: 100px;
}
.xBtn {
  width:50px;
  height: 40px;
  font-size: 30px;
  right: 30px;
  position: absolute;
  border: none;
  background-color: black;
  color:white;
}
.xBtn:hover {
    cursor: pointer;
}
.menuLink {
    color: #a1a1a1;
    text-decoration: none;
    font-family: "Brandon-font",Sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin-bottom: 30px;
    margin-left: 200px;
}
.menuLink:hover {
    color: white;
}
.menuImg:hover {
    cursor: pointer;
}
.findUs {
    margin-top: 40px;
    font-size: 8px;
}
.contact {
    color: #fff;
    font-family: "Brandon-font",Sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: none;
}